/* GENERALES */ 
.table-vertical-align tbody tr td
{
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.marginT, .marginTB, .marginAll { margin-top: 10px; }
.marginB, .marginTB, .marginAll { margin-bottom: 10px; }
.marginL, .marginLR, .marginAll { margin-left: 10px; }
.marginR, .marginLR, .marginAll { margin-right: 10px; }

.innerT, .innerTB, .innerAll { padding-top: 10px !important; }
.innerB, .innerTB, .innerAll { padding-bottom: 10px !important; }
.innerL, .innerLR, .innerAll { padding-left: 10px !important; }
.innerR, .innerLR, .innerAll { padding-right: 10px !important; }

.innerT.inner-2x, .innerTB.inner-2x, .innerAll.inner-2x { padding-top: 20px; }
.innerB.inner-2x, .innerTB.inner-2x, .innerAll.inner-2x { padding-bottom: 20px; }
.innerL.inner-2x, .innerLR.inner-2x, .innerAll.inner-2x { padding-left: 20px; }
.innerR.inner-2x, .innerLR.inner-2x, .innerAll.inner-2x { padding-right: 20px; }

.margin-top-none { margin-top: 0px !important; }
.margin-right-none { margin-right: 0px !important; }
.margin-bottom-none { margin-bottom: 0px !important; }
.margin-left-none { margin-left: 0px !important; }
.margin-none { margin: 0px !important; }

.padding-top-none { padding-top: 0px !important; }
.padding-right-none { padding-right: 0px !important; }
.padding-bottom-none { padding-bottom: 0px !important; }
.padding-left-none { padding-left: 0px !important; }
.padding-none { padding: 0px !important; }

.text-sm {
  font-size: smaller;
}
.text-black {
  color: black;
}
.form-group.text-sm {
  margin-bottom: 7px;
}
.bootbox.modal {
  z-index: 99999999;
}
.modal-open {
    overflow: hidden !important;
}
.component-dragger
{
  padding: 2px;
  width: 85%;
  width: calc(100% - 120px);
}

.border-none {
  border: none !important;
}
.gtp-line {
  border-top: 1px solid #ccc;
}
.gtp-h4 {
  font-size: 18px;
}

.ifr-page-editor {
    border: none;
    width: 100%;
    height: 99%;
    min-height: 300px;
    margin: 0;
    padding: 0;
}

body.modal-open {
    overflow: hidden;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    /* width: 80px; */
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}

/* SELECTORES DE PAGINAS */
.page_collection_preview span {
  line-height: 35px;
  padding: 7px 5px 6px 5px;
  margin: 0px 1px 0px 1px;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #ccc;
}
.page_collection_placeholder {
  height: 35px;
  line-height: 35px;
  padding: 9px 5px 9px 5px;
  background: #ccc;
}

/* SELECTORES DE IMAGENES */

.media_collection_preview img {
  width: 30px !important;
  height: 30px !important;
}

/* Elementos custom del gestor, para dejar de depende de bootstrap. */

.minicolors.minicolors-theme-bootstrap .form-control.gtp-form-control {
  padding:6px 30px;
}

.form-control.gtp-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .gtp-modal-title {
      color: black !important;
      font-size: 19px !important;
    }

.gbtn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gbtn:focus,
.gbtn:active:focus,
.gbtn.active:focus,
.gbtn.focus,
.gbtn:active.focus,
.gbtn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.gbtn:hover,
.gbtn:focus,
.gbtn.focus {
  color: #333333;
  text-decoration: none;
}
.gbtn:active,
.gbtn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.gbtn.disabled,
.gbtn[disabled],
fieldset[disabled] .gbtn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.gbtn.disabled,
fieldset[disabled] a.gbtn {
  pointer-events: none;
}
.gbtn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.gbtn-default:focus,
.gbtn-default.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.gbtn-default:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.gbtn-default:active,
.gbtn-default.active,
.open > .dropdown-toggle.gbtn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.gbtn-default:active:hover,
.gbtn-default.active:hover,
.open > .dropdown-toggle.gbtn-default:hover,
.gbtn-default:active:focus,
.gbtn-default.active:focus,
.open > .dropdown-toggle.gbtn-default:focus,
.gbtn-default:active.focus,
.gbtn-default.active.focus,
.open > .dropdown-toggle.gbtn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.gbtn-default:active,
.gbtn-default.active,
.open > .dropdown-toggle.gbtn-default {
  background-image: none;
}
.gbtn-default.disabled:hover,
.gbtn-default[disabled]:hover,
fieldset[disabled] .gbtn-default:hover,
.gbtn-default.disabled:focus,
.gbtn-default[disabled]:focus,
fieldset[disabled] .gbtn-default:focus,
.gbtn-default.disabled.focus,
.gbtn-default[disabled].focus,
fieldset[disabled] .gbtn-default.focus {
  background-color: #ffffff;
  border-color: #cccccc;
}
.gbtn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.gbtn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.gbtn-primary:focus,
.gbtn-primary.focus {
  color: #ffffff;
  background-color: #286090;
  border-color: #122b40;
}
.gbtn-primary:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.gbtn-primary:active,
.gbtn-primary.active,
.open > .dropdown-toggle.gbtn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.gbtn-primary:active:hover,
.gbtn-primary.active:hover,
.open > .dropdown-toggle.gbtn-primary:hover,
.gbtn-primary:active:focus,
.gbtn-primary.active:focus,
.open > .dropdown-toggle.gbtn-primary:focus,
.gbtn-primary:active.focus,
.gbtn-primary.active.focus,
.open > .dropdown-toggle.gbtn-primary.focus {
  color: #ffffff;
  background-color: #204d74;
  border-color: #122b40;
}
.gbtn-primary:active,
.gbtn-primary.active,
.open > .dropdown-toggle.gbtn-primary {
  background-image: none;
}
.gbtn-primary.disabled:hover,
.gbtn-primary[disabled]:hover,
fieldset[disabled] .gbtn-primary:hover,
.gbtn-primary.disabled:focus,
.gbtn-primary[disabled]:focus,
fieldset[disabled] .gbtn-primary:focus,
.gbtn-primary.disabled.focus,
.gbtn-primary[disabled].focus,
fieldset[disabled] .gbtn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.gbtn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.gbtn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.gbtn-success:focus,
.gbtn-success.focus {
  color: #ffffff;
  background-color: #449d44;
  border-color: #255625;
}
.gbtn-success:hover {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.gbtn-success:active,
.gbtn-success.active,
.open > .dropdown-toggle.gbtn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.gbtn-success:active:hover,
.gbtn-success.active:hover,
.open > .dropdown-toggle.gbtn-success:hover,
.gbtn-success:active:focus,
.gbtn-success.active:focus,
.open > .dropdown-toggle.gbtn-success:focus,
.gbtn-success:active.focus,
.gbtn-success.active.focus,
.open > .dropdown-toggle.gbtn-success.focus {
  color: #ffffff;
  background-color: #398439;
  border-color: #255625;
}
.gbtn-success:active,
.gbtn-success.active,
.open > .dropdown-toggle.gbtn-success {
  background-image: none;
}
.gbtn-success.disabled:hover,
.gbtn-success[disabled]:hover,
fieldset[disabled] .gbtn-success:hover,
.gbtn-success.disabled:focus,
.gbtn-success[disabled]:focus,
fieldset[disabled] .gbtn-success:focus,
.gbtn-success.disabled.focus,
.gbtn-success[disabled].focus,
fieldset[disabled] .gbtn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.gbtn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.gbtn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.gbtn-info:focus,
.gbtn-info.focus {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.gbtn-info:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.gbtn-info:active,
.gbtn-info.active,
.open > .dropdown-toggle.gbtn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.gbtn-info:active:hover,
.gbtn-info.active:hover,
.open > .dropdown-toggle.gbtn-info:hover,
.gbtn-info:active:focus,
.gbtn-info.active:focus,
.open > .dropdown-toggle.gbtn-info:focus,
.gbtn-info:active.focus,
.gbtn-info.active.focus,
.open > .dropdown-toggle.gbtn-info.focus {
  color: #ffffff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.gbtn-info:active,
.gbtn-info.active,
.open > .dropdown-toggle.gbtn-info {
  background-image: none;
}
.gbtn-info.disabled:hover,
.gbtn-info[disabled]:hover,
fieldset[disabled] .gbtn-info:hover,
.gbtn-info.disabled:focus,
.gbtn-info[disabled]:focus,
fieldset[disabled] .gbtn-info:focus,
.gbtn-info.disabled.focus,
.gbtn-info[disabled].focus,
fieldset[disabled] .gbtn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.gbtn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.gbtn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.gbtn-warning:focus,
.gbtn-warning.focus {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.gbtn-warning:hover {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.gbtn-warning:active,
.gbtn-warning.active,
.open > .dropdown-toggle.gbtn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.gbtn-warning:active:hover,
.gbtn-warning.active:hover,
.open > .dropdown-toggle.gbtn-warning:hover,
.gbtn-warning:active:focus,
.gbtn-warning.active:focus,
.open > .dropdown-toggle.gbtn-warning:focus,
.gbtn-warning:active.focus,
.gbtn-warning.active.focus,
.open > .dropdown-toggle.gbtn-warning.focus {
  color: #ffffff;
  background-color: #d58512;
  border-color: #985f0d;
}
.gbtn-warning:active,
.gbtn-warning.active,
.open > .dropdown-toggle.gbtn-warning {
  background-image: none;
}
.gbtn-warning.disabled:hover,
.gbtn-warning[disabled]:hover,
fieldset[disabled] .gbtn-warning:hover,
.gbtn-warning.disabled:focus,
.gbtn-warning[disabled]:focus,
fieldset[disabled] .gbtn-warning:focus,
.gbtn-warning.disabled.focus,
.gbtn-warning[disabled].focus,
fieldset[disabled] .gbtn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.gbtn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.gbtn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.gbtn-danger:focus,
.gbtn-danger.focus {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #761c19;
}
.gbtn-danger:hover {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.gbtn-danger:active,
.gbtn-danger.active,
.open > .dropdown-toggle.gbtn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.gbtn-danger:active:hover,
.gbtn-danger.active:hover,
.open > .dropdown-toggle.gbtn-danger:hover,
.gbtn-danger:active:focus,
.gbtn-danger.active:focus,
.open > .dropdown-toggle.gbtn-danger:focus,
.gbtn-danger:active.focus,
.gbtn-danger.active.focus,
.open > .dropdown-toggle.gbtn-danger.focus {
  color: #ffffff;
  background-color: #ac2925;
  border-color: #761c19;
}
.gbtn-danger:active,
.gbtn-danger.active,
.open > .dropdown-toggle.gbtn-danger {
  background-image: none;
}
.gbtn-danger.disabled:hover,
.gbtn-danger[disabled]:hover,
fieldset[disabled] .gbtn-danger:hover,
.gbtn-danger.disabled:focus,
.gbtn-danger[disabled]:focus,
fieldset[disabled] .gbtn-danger:focus,
.gbtn-danger.disabled.focus,
.gbtn-danger[disabled].focus,
fieldset[disabled] .gbtn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.gbtn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.gbtn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.gbtn-link,
.gbtn-link:active,
.gbtn-link.active,
.gbtn-link[disabled],
fieldset[disabled] .gbtn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.gbtn-link,
.gbtn-link:hover,
.gbtn-link:focus,
.gbtn-link:active {
  border-color: transparent;
}
.gbtn-link:hover,
.gbtn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.gbtn-link[disabled]:hover,
fieldset[disabled] .gbtn-link:hover,
.gbtn-link[disabled]:focus,
fieldset[disabled] .gbtn-link:focus {
  color: #777777;
  text-decoration: none;
}
.gbtn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.gbtn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.gbtn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.gbtn-block {
  display: block;
  width: 100%;
}
.gbtn-block + .gbtn-block {
  margin-top: 5px;
}

.select2-container .select2-search__field,
.select2-container .select2-input {
  width: 100% !important
}

.note-toolbar.btn-toolbar {
  display: block;
}